[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=2.2.20"
markdown = "*"
djangorestframework = "*"
psycopg2 = "*"
requests = "*"
python-decouple = "*"
django-extensions = "*"
celery = "~=4.4.7"
redis = "~=3.5.3"
django-filter = "*"
drf-nested-routers = "*"
django-heroku = "*"
gunicorn = "*"
django-celery-beat = "~=2.0.0"
cd = "*"

[dev-packages]
black = "*"
ipython = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
